h1{
  text-align: center;
  font-size: 3em;
}

body{
  padding: 0px;
  margin: 0px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.5em;

}

img{
  margin-top: 20%;
  position: relative;
  left: 25%;

}

#sidebar{
  background: #2196F3;
  height: 100%;
  width: 350px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}


ul{
  margin: 0px;
  padding: 0px;
}

ul li{
  list-style: none;
  text-align: center;
}

ul li a{
  display:block;
  color: black;
  width: 100%;
  padding: 15px;
  text-decoration: none;
}

ul li:hover{
  background: white;
  text-decoration: none;
  transition: linear all 0.5s;
}
