body
{
   font-size: 20px;
   background: url("http://wallpapercave.com/wp/rXfXget.jpg") no-repeat center center fixed;
   background-size: cover;
}
 h1
 {
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: Palatino, 'Palatino Linotype';
 }
 img
 {
    display: block;
    margin: auto;
     }

 .navbar li
 {
    font-size: 15px;
    display: inline;
    position: relative;
    top: 0px;
    left: 450px;
    padding: 40;
    border-spacing: 100;
    flex-wrap: wrap;
    justify-content: center;
}

.col-sm-4 ul
{
    font-size: 30px;
    list-style-type: none;
    margin-right: 100;
    padding: 40;
    border-spacing: 100;
    display: flex;
    right: 50px;
}

.row
{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  background-color: #0D47A1;
  text-align: center;
  }
  footer ul
{

  list-style: none;
}
footer li img
{
  width: 32px;
  height: 32px;
}
