body
{
   font-size: 14px;
   background-color: black;
   background-size: cover;
}

ul
{
  padding: 0;
}
 h1
 {
    font-size: 5em;
    font-family:'Droid Sans', sans-serif;
    border: 0px;
    margin: 0px;
    text-align: center;
    color: white;
    letter-spacing: 1.5px;
 }
 img
 {
    display: block;
    margin: auto;
     }

 .navbar li
 {
    font-size: 15px;
    display: inline;
    position: relative;
    padding: 40;
    border-spacing: 100;
    flex-wrap: wrap;
    justify-content: center;
}

.col-sm-4 ul
{
    font-size: 30px;
    list-style-type: none;
    margin-right: 100;
    padding: 40;
    border-spacing: 100;
    display: flex;
    right: 50px;
}

.row
{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  <!--background-color: #0D47A1;-->
  text-align: center;
  }
  footer ul
{

  list-style: none;
  position: fixed;
}
footer li img
{
  width: 28px;
  height: 32px;
  position: fixed;
}

.name{
  position: relative;
}
